.navheader {
    position: absolute;
    top: 100;
    left: 20;
    right: 50;
}

.numbers {
    color: aquamarine;
    margin: 5px;
}

.aboutme h2 {
    color: aquamarine;
}

.aboutme p {
    color: aliceblue;
}


nav ol li {
    display: inline;
    margin: 10px;
}

nav ol li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
}

nav ol p {
    display: inline;
}

