#a__about,
#a__experience,
#a__conctact {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}

#a__about {
    position: absolute;
    width: 106px;
    height: 15px;
    left: 1159px;
    top: 35px;
}

#a__experience {
    position: absolute;
    width: 154px;
    height: 14px;
    left: 1318px;
    top: 35px;
}

#a__conctact {
    position: absolute;
    width: 140px;
    height: 14px;
    left: 1525px;
    top: 37px;
}

#nav__p {
    color: #00F0FF;
}