:root {
    --red: #A51313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-style: none;
}

header {
    background-image: url("../Img/Bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.welcomeDiv {
    position: relative;
    color: white;
    left: 40px;
    top: 250px;
    width: 260px;
    height: 99px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcomeDiv strong {
    color: var(--red);
}


.skills {
    position: relative;
    width: 227px;
    height: 25px;
    left: 40px;
    top: 300px;

    background: #514E50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 7.8px;
    line-height: 9px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background: transparent;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills button:nth-child(1) {
    position: absolute;
    left: 4.41%;
    right: 73.8%;
    top: 32%;
    bottom: 32%;
}

.skills button:nth-child(2) {
    position: absolute;
    left: 37.28%;
    right: 39.19%;
    top: 32%;
    bottom: 32%;
}

.skills button:nth-child(3) {
    position: absolute;
    left: 70.84%;
    right: 4.94%;
    top: 32%;
    bottom: 32%;
}

.portfolio {
    position: relative;
    width: 100px;
    height: 25px;
    left: 40px;
    top: 350px;
    background: var(--red);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 11px;
    align-items: center;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #37333A;
}


.parent {
    height: 100vh;
    position: relative;
    background-color: #37333A;
}

.redBox {
    position: absolute;
    width: 200px;
    height: 250px;

    left: 5%;
    right: 28.33%;
    top: 11.03%;
    bottom: 0%;

    background: #A51313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile {
    position: absolute;
    width: 200px;
    height: 250px;

    left: 28.33%;
    right: 0%;
    top: 5%;
    bottom: 11.03%;

    background-image: url("../Img/Profile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hello {
    position: relative;
    width: 300px;
    height: 112px;
    left: 20px;
    top: 1076px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    align-items: center;

}

.name {
    position: absolute;
    left: 17%;
    right: 0%;
    top: 0%;
    bottom: 74.11%;
    color: #A51313;
}