:root {
    --red: #A51313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-style: none;
}

header {
    background-image: url("../Img/Bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.welcomeDiv {
    position: relative;
    color: white;
    left: 40px;
    top: 250px;
    width: 260px;
    height: 99px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcomeDiv strong {
    color: var(--red);
}


.skills {
    position: relative;
    width: 227px;
    height: 25px;
    left: 40px;
    top: 300px;

    background: #514E50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 7.8px;
    line-height: 9px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background: transparent;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills button:nth-child(1) {
    position: absolute;
    left: 4.41%;
    right: 73.8%;
    top: 32%;
    bottom: 32%;
}

.skills button:nth-child(2) {
    position: absolute;
    left: 37.28%;
    right: 39.19%;
    top: 32%;
    bottom: 32%;
}

.skills button:nth-child(3) {
    position: absolute;
    left: 70.84%;
    right: 4.94%;
    top: 32%;
    bottom: 32%;
}

.portfolio {
    position: relative;
    width: 100px;
    height: 25px;
    left: 40px;
    top: 350px;
    background: var(--red);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 11px;
    align-items: center;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}