:root {
    --red: #A51313;
    --gray: #514E50;
    --backgroundColor: #514E50;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: var(--backgroundColor);
}

i {
    font-style: normal;
    color: var(--red);
    text-transform: uppercase;
}

p {
    font-family: Roboto;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;


    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label {
    background: var(--red);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skillsParent {
    background: #514E50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.labelWhite {
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.labelWhite:nth-child(1) {
    /* Code here: !
    TODO: Position 
    */
}

div.labelWhite:nth-child(2) {
    /* Code here: ! 
    TODO: Position 
    */
}

.labelText {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Portfolio button */
.portfoliobutton {
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    height: 25px;
    background: var(--red);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.portfoliobutton p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 11px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}