.Proflie {
    position: absolute;
    width: 300px;
    height: 281px;
    left: 37px;
    top: 754px;
}

.redBox {
    position: absolute;
    left: 0%;
    right: 28.33%;
    top: 11.03%;
    bottom: 0%;

    background: #A51313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Profile {
    position: absolute;
    left: 28.33%;
    right: 0%;
    top: 0%;
    bottom: 11.03%;

    /*background: url();*/
    /* TODO: ADD PROFILE IMG */
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.History {
    position: absolute;
    width: 300px;
    height: 112px;
    left: 37px;
    top: 1079px;
}

.label {
    position: absolute;
    width: 37px;
    height: 5px;
    left: 0px;
    top: 12px;

    background: #A51313;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name {
    position: absolute;
    left: 17%;
    right: 0%;
    top: 0%;
    bottom: 74.11%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #A51313;

    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.desc {
    position: absolute;
    left: 0%;
    right: 13.33%;
    top: 25.89%;
    bottom: 48.21%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lorem {
    position: absolute;
    left: 0%;
    right: 13.33%;
    top: 74.11%;
    bottom: 0%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}