* {
    background: #37333A;
}

.Welcome_Text {
    position: absolute;
    width: 279px;
    height: 99px;
    left: 12px;
    top: 227px;
}

.Red_Label {
    position: absolute;
    left: 0%;
    right: 87.46%;
    top: 12.12%;
    bottom: 82.83%;

    background: #A51313;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hey {
    position: absolute;
    left: 16.13%;
    right: 0%;
    top: 0%;
    bottom: 70.71%;
}

#welcome {
    position: absolute;
    left: 16.13%;
    right: 0%;
    top: 35.35%;
    bottom: 35.35%;
}

#city {
    position: absolute;
    left: 16.13%;
    right: 0%;
    top: 70.71%;
    bottom: 0%;
}

span {
    margin-left: 5px;
    color: #A51313;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Skills {
    position: absolute;
    width: 289px;
    height: 25px;
    left: 44px;
    top: 409px;
    background: #514E50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label1 {
    position: absolute;
    left: 32.53%;
    right: 67.13%;
    top: 36%;
    bottom: 28%;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label2 {
    position: absolute;
    left: 67.13%;
    right: 32.53%;
    top: 36%;
    bottom: 28%;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skillText {
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* TODO: FIX BORDER */

#WebDesigner {
    position: absolute;
    left: 5.19%;
    right: 73.01%;
    top: 32%;
    bottom: 20%;
}

#WebDeveloper {
    position: absolute;
    left: 38.06%;
    right: 38.41%;
    top: 32%;
    bottom: 20%;
}

#UI {
    position: absolute;
    left: 71.63%;
    right: 4.15%;
    top: 32%;
    bottom: 20%;
}

.Portfolio {
    position: absolute;
    width: 100px;
    height: 25px;
    left: 44px;
    top: 480px;

    background: #A51313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TODO: FIX BORDER SAME PROBLEM */

#portfolio {
    position: absolute;
    left: 3%;
    right: 0%;
    top: 16%;
    bottom: 12%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 11px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}